# Node modules
node_modules/
.pnpm-debug.log
npm-debug.log

# Builds
dist/
build/

# Vite output
.vite/

# Logs
*.log

# OS trash
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*
!.env.example

# Editor folders
.vscode/
.idea/
*.swp

# Coverage reports
coverage/
.nyc_output/

# Others
*.local
*.sublime-project
*.sublime-workspace